a.cta_button {
    -moz-box-sizing: content-box !important;
    -webkit-box-sizing: content-box !important;
    box-sizing: content-box !important;
    vertical-align: middle
}

.hs-breadcrumb-menu {
    list-style-type: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px
}

.hs-breadcrumb-menu-item {
    float: left;
    padding: 10px 0px 10px 10px
}

.hs-breadcrumb-menu-divider:before {
    content: '›';
    padding-left: 10px
}

.hs-featured-image-link {
    border: 0
}

.hs-featured-image {
    float: right;
    margin: 0 0 20px 20px;
    max-width: 50%
}

@media (max-width: 568px) {
    .hs-featured-image {
        float: none;
        margin: 0;
        width: 100%;
        max-width: 100%
    }
}

.hs-screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px
}

#before-footer {
    color: #ffffff;
    /*color: rgba(255, 255, 255, 0.99);*/
    background-color: #030852;
    /*background-color: rgba(3, 8, 82, 1.0);*/
    padding: 60px 0;
}

#main-footer {
    background-color: rgba(248, 248, 248, 1.0);
}

.body_dnd_area_1-row-2-background-image {
    background-size: 1150px auto !important;
}

.body_dnd_area_1-row-2-padding {
    box-shadow: 0 0 12px 0 rgb(0 0 0 / 10%), 0 0 8px 0 rgb(0 0 0 / 8%);
}

.body_dnd_area_1-row-0-background-color {
    background-image: url(https://www.varicent.com/hubfs/logos/homepage/varicent-acquires-concert-finance-announcement.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

@media (min-width: 768px) {
    html:not(.hs-inline-edit) #hs_cos_wrapper_widget_1628530958654 {
        display: none !important;
    }
    #hs_cos_wrapper_widget_1628532418126 {
        text-align: center;
    }
}

@media(max-width: 991px) {
    #hs_cos_wrapper_widget_1628532418126 img {
        max-width: 85% !important;
    }
    .body_dnd_area_1-row-0-background-color {
        background-image: url(https://www.varicent.com/hubfs/logos/homepage/varicent-acquires-concert-finance-announcement-tablet.jpg);
        background-size: auto 100%;
        background-position: left center;
    }
    div#hs_cos_wrapper_widget_1587046473803 {
        padding-left: 0 !important;
    }
    .cell_16188451777442-row-0-vertical-alignment>.row-fluid {
        padding: 0 15px 15px;
    }
}

@media(max-width: 767px) {
    .body_dnd_area_1-row-0-background-color {
        background-image: none;
    }
    #hs_cos_wrapper_widget_1628530958654 {
        margin-left: -15px;
        margin-right: -15px;
        max-width: none;
    }
    .cell_16188451777442-row-0-vertical-alignment>.row-fluid {
        text-align: center;
    }
    .cell_1620409987273-vertical-alignment {
        display: none !important;
    }
    div#hs_cos_wrapper_widget_1587046473803 {
        display: none !important;
    }
    .logo_rows {
        overflow: auto;
        width: auto
    }
    .logo_rows>.row-fluid {
        display: flex;
        align-items: center;
        width: 200%
    }
    .logo_rows>.row-fluid .span2 {
        width: 33%
    }
    .cell_15813479265392-row-0-vertical-alignment>.row-fluid {
        display: flex;
        flex-direction: column-reverse;
    }
}

#hs_cos_wrapper_widget_1587046302211 {
    display: block !important;
    margin-bottom: 45px !important
}

#hs_cos_wrapper_widget_1628532418126 {
    display: block !important;
    margin-bottom: 45px !important
}

#hs_cos_wrapper_widget_1581347756197 {
    display: block !important;
    margin-bottom: 25px !important
}

#hs_cos_wrapper_widget_1581347747220 {
    display: block !important;
    margin-bottom: 25px !important
}

#hs_cos_wrapper_widget_1581347933479 {
    display: block !important;
    margin-bottom: 25px !important
}

#hs_cos_wrapper_widget_1581347926483 {
    display: block !important;
    margin-bottom: 25px !important
}

#hs_cos_wrapper_widget_1581348033513 {
    display: block !important;
    margin-bottom: 25px !important
}

#hs_cos_wrapper_widget_1581348028347 {
    display: block !important;
    margin-bottom: 25px !important
}

#hs_cos_wrapper_widget_1591372575104 {
    display: block !important;
    margin-bottom: 60px !important
}

#hs_cos_wrapper_widget_1581348696177 {
    display: block !important;
    margin-bottom: 15px !important
}

#hs_cos_wrapper_module_1581348801273 {
    display: block !important;
    margin-bottom: 45px !important
}

#hs_cos_wrapper_widget_1581348699415 {
    display: block !important;
    margin-bottom: 15px !important
}

#hs_cos_wrapper_module_1581348800414 {
    display: block !important;
    margin-bottom: 45px !important
}

#hs_cos_wrapper_widget_1581348702353 {
    display: block !important;
    margin-bottom: 15px !important
}

#hs_cos_wrapper_widget_1581348726689 {
    display: block !important;
    margin-bottom: 45px !important
}

#hs_cos_wrapper_module_15813500064476 {
    display: block !important;
    padding-bottom: 20px !important
}

.body_dnd_area_1-row-0-background-color {
    background-color: rgba(239, 239, 239, 1) !important;
}

.body_dnd_area_1-row-0-max-width-section-centering>.row-fluid {
    max-width: 1380px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.body_dnd_area_1-row-1-max-width-section-centering>.row-fluid {
    max-width: 1380px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.body_dnd_area_1-row-2-background-color {
    background-color: rgba(16, 35, 158, 1) !important;
}

.body_dnd_area_1-row-2-max-width-section-centering>.row-fluid {
    max-width: 1380px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.body_dnd_area_1-row-3-max-width-section-centering>.row-fluid {
    max-width: 1380px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.body_dnd_area_1-row-4-max-width-section-centering>.row-fluid {
    max-width: 1380px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.body_dnd_area_1-row-5-max-width-section-centering>.row-fluid {
    max-width: 1380px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.body_dnd_area_1-row-7-max-width-section-centering>.row-fluid {
    max-width: 1000px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.body_dnd_area_1-row-9-background-color {
    background-color: rgba(240, 245, 255, 1) !important;
}

.body_dnd_area_1-row-9-max-width-section-centering>.row-fluid {
    max-width: 895px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.cell_15827327092942-row-0-max-width-section-centering>.row-fluid {
    max-width: 1380px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.widget_1628530958654-flexbox-positioning {
    display: -ms-flexbox !important;
    -ms-flex-direction: column !important;
    -ms-flex-align: center !important;
    -ms-flex-pack: start;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: flex-start;
}

.widget_1628530958654-flexbox-positioning>div {
    max-width: 100%;
    flex-shrink: 0 !important;
}

.widget_1628532418126-flexbox-positioning {
    display: -ms-flexbox !important;
    -ms-flex-direction: column !important;
    -ms-flex-align: center !important;
    -ms-flex-pack: start;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: flex-start;
}

.widget_1628532418126-flexbox-positioning>div {
    max-width: 100%;
    flex-shrink: 0 !important;
}

.widget_1581347747220-flexbox-positioning {
    display: -ms-flexbox !important;
    -ms-flex-direction: column !important;
    -ms-flex-align: center !important;
    -ms-flex-pack: start;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: flex-start;
}

.widget_1581347747220-flexbox-positioning>div {
    max-width: 100%;
    flex-shrink: 0 !important;
}

.widget_1581347933479-flexbox-positioning {
    display: -ms-flexbox !important;
    -ms-flex-direction: column !important;
    -ms-flex-align: center !important;
    -ms-flex-pack: start;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: flex-start;
}

.widget_1581347933479-flexbox-positioning>div {
    max-width: 100%;
    flex-shrink: 0 !important;
}

.widget_1581348028347-flexbox-positioning {
    display: -ms-flexbox !important;
    -ms-flex-direction: column !important;
    -ms-flex-align: center !important;
    -ms-flex-pack: start;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: flex-start;
}

.widget_1581348028347-flexbox-positioning>div {
    max-width: 100%;
    flex-shrink: 0 !important;
}

.widget_1581348696177-flexbox-positioning {
    display: -ms-flexbox !important;
    -ms-flex-direction: column !important;
    -ms-flex-align: center !important;
    -ms-flex-pack: start;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: flex-start;
}

.widget_1581348696177-flexbox-positioning>div {
    max-width: 100%;
    flex-shrink: 0 !important;
}

.widget_1581348699415-flexbox-positioning {
    display: -ms-flexbox !important;
    -ms-flex-direction: column !important;
    -ms-flex-align: center !important;
    -ms-flex-pack: start;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: flex-start;
}

.widget_1581348699415-flexbox-positioning>div {
    max-width: 100%;
    flex-shrink: 0 !important;
}

.widget_1581348702353-flexbox-positioning {
    display: -ms-flexbox !important;
    -ms-flex-direction: column !important;
    -ms-flex-align: center !important;
    -ms-flex-pack: start;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: flex-start;
}

.widget_1581348702353-flexbox-positioning>div {
    max-width: 100%;
    flex-shrink: 0 !important;
}

/* HubSpot Non-stacked Media Query Styles */

@media (min-width:768px) {
    .body_dnd_area_1-row-0-vertical-alignment>.row-fluid {
        display: -ms-flexbox !important;
        -ms-flex-direction: row;
        display: flex !important;
        flex-direction: row;
    }
    .body_dnd_area_1-row-1-vertical-alignment>.row-fluid {
        display: -ms-flexbox !important;
        -ms-flex-direction: row;
        display: flex !important;
        flex-direction: row;
    }
    .body_dnd_area_1-row-7-vertical-alignment>.row-fluid {
        display: -ms-flexbox !important;
        -ms-flex-direction: row;
        display: flex !important;
        flex-direction: row;
    }
    .body_dnd_area_1-row-9-vertical-alignment>.row-fluid {
        display: -ms-flexbox !important;
        -ms-flex-direction: row;
        display: flex !important;
        flex-direction: row;
    }
    .cell_15827327092942-vertical-alignment {
        display: -ms-flexbox !important;
        -ms-flex-direction: column !important;
        -ms-flex-pack: center !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
    }
    .cell_15827327092942-vertical-alignment>div {
        flex-shrink: 0 !important;
    }
    .cell_15827327092942-row-0-vertical-alignment>.row-fluid {
        display: -ms-flexbox !important;
        -ms-flex-direction: row;
        display: flex !important;
        flex-direction: row;
    }
    .cell_15870463022882-vertical-alignment {
        display: -ms-flexbox !important;
        -ms-flex-direction: column !important;
        -ms-flex-pack: center !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
    }
    .cell_15870463022882-vertical-alignment>div {
        flex-shrink: 0 !important;
    }
    .cell_1620409987273-vertical-alignment {
        display: -ms-flexbox !important;
        -ms-flex-direction: column !important;
        -ms-flex-pack: center !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
    }
    .cell_1620409987273-vertical-alignment>div {
        flex-shrink: 0 !important;
    }
    .cell_15815356287542-vertical-alignment {
        display: -ms-flexbox !important;
        -ms-flex-direction: column !important;
        -ms-flex-pack: center !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
    }
    .cell_15815356287542-vertical-alignment>div {
        flex-shrink: 0 !important;
    }
    .cell_16188451777442-row-0-vertical-alignment>.row-fluid {
        display: -ms-flexbox !important;
        -ms-flex-direction: row;
        display: flex !important;
        flex-direction: row;
    }
    .cell_1621010920417-vertical-alignment {
        display: -ms-flexbox !important;
        -ms-flex-direction: column !important;
        -ms-flex-pack: center !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
    }
    .cell_1621010920417-vertical-alignment>div {
        flex-shrink: 0 !important;
    }
    .cell_1618845425105-vertical-alignment {
        display: -ms-flexbox !important;
        -ms-flex-direction: column !important;
        -ms-flex-pack: center !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
    }
    .cell_1618845425105-vertical-alignment>div {
        flex-shrink: 0 !important;
    }
    .cell_15813477472902-row-0-vertical-alignment>.row-fluid {
        display: -ms-flexbox !important;
        -ms-flex-direction: row;
        display: flex !important;
        flex-direction: row;
    }
    .cell_15813477562772-vertical-alignment {
        display: -ms-flexbox !important;
        -ms-flex-direction: column !important;
        -ms-flex-pack: center !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
    }
    .cell_15813477562772-vertical-alignment>div {
        flex-shrink: 0 !important;
    }
    .cell_1581347756276-vertical-alignment {
        display: -ms-flexbox !important;
        -ms-flex-direction: column !important;
        -ms-flex-pack: center !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
    }
    .cell_1581347756276-vertical-alignment>div {
        flex-shrink: 0 !important;
    }
    .cell_15813479265392-row-0-vertical-alignment>.row-fluid {
        display: -ms-flexbox !important;
        -ms-flex-direction: row;
        display: flex !important;
        flex-direction: row;
    }
    .cell_1581347933558-vertical-alignment {
        display: -ms-flexbox !important;
        -ms-flex-direction: column !important;
        -ms-flex-pack: center !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
    }
    .cell_1581347933558-vertical-alignment>div {
        flex-shrink: 0 !important;
    }
    .cell_1581347933556-vertical-alignment {
        display: -ms-flexbox !important;
        -ms-flex-direction: column !important;
        -ms-flex-pack: center !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
    }
    .cell_1581347933556-vertical-alignment>div {
        flex-shrink: 0 !important;
    }
    .cell_15813480284282-row-0-vertical-alignment>.row-fluid {
        display: -ms-flexbox !important;
        -ms-flex-direction: row;
        display: flex !important;
        flex-direction: row;
    }
    .cell_1581348033598-vertical-alignment {
        display: -ms-flexbox !important;
        -ms-flex-direction: column !important;
        -ms-flex-pack: center !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
    }
    .cell_1581348033598-vertical-alignment>div {
        flex-shrink: 0 !important;
    }
    .cell_1581348033596-vertical-alignment {
        display: -ms-flexbox !important;
        -ms-flex-direction: column !important;
        -ms-flex-pack: center !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
    }
    .cell_1581348033596-vertical-alignment>div {
        flex-shrink: 0 !important;
    }
    .cell_15813486962552-vertical-alignment {
        display: -ms-flexbox !important;
        -ms-flex-direction: column !important;
        -ms-flex-pack: start !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: flex-start !important;
    }
    .cell_15813486962552-vertical-alignment>div {
        flex-shrink: 0 !important;
    }
    .cell_1581348699476-vertical-alignment {
        display: -ms-flexbox !important;
        -ms-flex-direction: column !important;
        -ms-flex-pack: start !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: flex-start !important;
    }
    .cell_1581348699476-vertical-alignment>div {
        flex-shrink: 0 !important;
    }
    .cell_1581348702410-vertical-alignment {
        display: -ms-flexbox !important;
        -ms-flex-direction: column !important;
        -ms-flex-pack: start !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: flex-start !important;
    }
    .cell_1581348702410-vertical-alignment>div {
        flex-shrink: 0 !important;
    }
    .cell_15813500064463-vertical-alignment {
        display: -ms-flexbox !important;
        -ms-flex-direction: column !important;
        -ms-flex-pack: center !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
    }
    .cell_15813500064463-vertical-alignment>div {
        flex-shrink: 0 !important;
    }
}

/* HubSpot Styles (default) */

.body_dnd_area_1-row-0-padding {
    padding-top: 45px !important;
}

.body_dnd_area_1-row-1-padding {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.body_dnd_area_1-row-2-padding {
    padding-top: 45px !important;
    padding-bottom: 25px !important;
}

.body_dnd_area_1-row-3-padding {
    padding-top: 90px !important;
    padding-bottom: 45px !important;
}

.body_dnd_area_1-row-4-padding {
    padding-top: 45px !important;
    padding-bottom: 45px !important;
}

.body_dnd_area_1-row-5-padding {
    padding-top: 45px !important;
    padding-bottom: 90px !important;
}

.body_dnd_area_1-row-9-padding {
    padding-top: 95px !important;
    padding-bottom: 95px !important;
}

.cell_1618845425105-padding {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
}